@model BestStudentCafedra.Models.ViewModels.StudentActivityViewModel

@{
    ViewData["Title"] = "Подробности о работе";
}

<h1>Подробности о работе</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.MaxPoints)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.MaxPoints)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Type.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Activity.Id">Изменить</a> |
    <a asp-action="Index">Вернуться в список работ</a>
</div>

<br/>
<h4>Оценки:</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().ActivityProtections.FirstOrDefault().Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().ActivityProtections.FirstOrDefault().ProtectionDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityProtections.FirstOrDefault().Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityProtections.FirstOrDefault().ProtectionDate)
            </td>
        </tr>
        }
    </tbody>
</table>
