@model BestStudentCafedra.Models.ViewModels.StudentActivityViewModel
@using System.Globalization;

@{
    ViewData["Title"] = "Оценивание работы";
}

<h1>Подробности о работе</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Type.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.MaxPoints)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.MaxPoints)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Activity.Id">Изменить</a> |
    <a asp-action="Index">Вернуться в список работ</a>
</div>

<br />
<h4>Оценки:</h4>
<p>Список и их оценок за выполнение выбранной учебной деятельности по образовательной программаме</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().Group.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().ActivityProtections.FirstOrDefault().ProtectionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().ActivityProtections.FirstOrDefault().Points)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students)
        {
            <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Group.Name)
                </td>
                <td class="align-middle">
                    <a title="Подробнее о студенте" asp-controller="Student" asp-action="Details" asp-route-id="@item.GradebookNumber">@item.FullName</a>
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.ActivityProtections.FirstOrDefault().ProtectionDate)
                </td>
                <td>
                    <form asp-action="Protect">
                        <input hidden name="StudentId" value='@item.GradebookNumber' />
                        <input hidden name="ActivityId" value='@Model.Activity.Id' />
                        <div class="input-group float-left" style="max-width: 120px;">
                            <input name="Points" type="number" step="0.1" min="0" max="@Model.Activity.MaxPoints" class="form-control" aria-describedby="basic-addon1" title="Введите здесь оценку для ответа студента" value='@(item.ActivityProtections.Count != 0 ? item.ActivityProtections.FirstOrDefault().Points.ToString("G", new CultureInfo("en-US")) : null)' />
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon1" title="Максимальное количество баллов">@Model.Activity.MaxPoints</span>
                            </div>
                        </div>
                        <input type="submit" value="Оценить" class="btn btn-primary ml-1" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
