@model BestStudentCafedra.Models.Teacher

@{
    ViewData["Title"] = "Подробности о преподавателе";
}

<h1>Подробности о преподавателе</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicDegree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicDegree)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" asp-route-ReturnUrl="@ViewBag.ReturnUrl">Изменить</a> |
    @if (ViewBag.ReturnUrl != null)
    {
        <a href="@ViewBag.ReturnUrl">Вернуться</a>
    }
    else
    {
        <a asp-action="Index">Вернуться</a>
    }
</div>

    </br>
<h4>Дисциплины:</h4>
<p>Список дисциплин, которые ведет преподаватель по основным образовательным программам</p>
<p>
    <a asp-action="AddDiscipline" asp-route-id="@Model.Id">Добавить</a>
</p>

<table class="table border rounded" id="disciplinesTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeacherDisciplines.FirstOrDefault().Discipline.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (TeacherDiscipline item in Model.TeacherDisciplines)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Discipline.Name)
                </td>
                <td>
                    <div class="btn-group btn-group-sm float-right" role="group">
                        <a asp-controller="Disciplines" asp-action="Details" asp-route-id="@item.DisciplineId" asp-route-returnUrl="@Context.Request.Path" class="btn btn-outline-primary">Подробнее</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_DataTableScriptsPartial");}
    <script>
        var table = $('#disciplinesTable').DataTable({
            columnDefs: [{ orderable: false, targets: [-1] }],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.10.22/i18n/Russian.json'
            }
        });
    </script>
}

