@model BestStudentCafedra.Models.GraduationWork

@{
    ViewData["Title"] = "Выпускная квалификационная работа";
    var ev = new Event();
    var eventLog = new EventLog();
    var events = Model.Student.Group.SchedulePlans.FirstOrDefault().Events;
    var comingEvents = events.Where(x => x.Date > DateTime.Now).ToList();
    var pastEvents = events.Where(x => x.Date <= DateTime.Now).ToList();
    string status;
    if (Model.ArchievedDate != null) status = "Защищена";
}

<h1>Выпускная квалификационная работа</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Theme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Theme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArchievedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArchievedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Result)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.FullName)
        </dd>
    </dl>
</div>
<h4>Мероприятия</h4>
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-light w-100 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Предстоящие (@comingEvents.Count)
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                @{await Html.RenderPartialAsync("_EventList", comingEvents);}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-light w-100 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Прошедшие (@pastEvents.Count)
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                @{await Html.RenderPartialAsync("_EventList", pastEvents);}
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
