@model IEnumerable<BestStudentCafedra.Models.Discipline>

@{
    ViewData["Title"] = "Дициплины";
}

<h1>Дициплины</h1>
<p>Список доступных учебных предметов, по которым ведется подготовка студентов по образовательно программе</p>

<p>
    <a asp-action="Create">Добавить</a>
</p>

<div class="accordion" id="accordionExample">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-header" id="heading-@item.Id">
                <h2 class="mb-0">
                    <button class="btn btn-link float-left" type="button" data-toggle="collapse" data-target="#collapse-@item.Id" aria-expanded="true" aria-controls="collapse-@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </button>
                    <div class="btn-group btn-group-sm float-right" role="group" aria-label="Semester disciplines">
                        <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Добавить семестр</a>
                        <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                        <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">&times;</a>
                    </div>
                </h2>
            </div>

            <div id="collapse-@item.Id" class="collapse" aria-labelledby="heading-@item.Id" data-parent="#accordionExample">
                <div class="card-body p-0">
                    @if (item.SemesterDisciplines.Count > 0) {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SemesterDisciplines.FirstOrDefault().Year)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SemesterDisciplines.FirstOrDefault().Semester)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SemesterDisciplines.FirstOrDefault().ControlType)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var sem in item.SemesterDisciplines)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(semItem => sem.Year)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(semItem => sem.Semester)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(semItem => sem.ControlType)
                                        </td>
                                        <td>
                                            <a asp-controller="SemesterDisciplines" asp-action="Details" asp-route-id="@item.Id" asp-route-returnUrl="@Context.Request.Path" class="btn btn-sm btn-outline-primary float-right">Перейти</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                     } else {
                        <p class="text-center text-danger m-3">Семестры по данной дисциплине ещё не добавлены! <a asp-action="Edit" asp-route-id="@item.Id">Добавить</a></p>
                     }
                </div>
            </div>
        </div>
    }
</div>