@model IEnumerable<BestStudentCafedra.Models.Student>

@{
    ViewData["Title"] = "Студенты";
}

<h1>Студенты</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GradebookNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GradebookNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.GradebookNumber">Подробнее</a> |
                <a asp-action="Edit" asp-route-id="@item.GradebookNumber">Изменить</a> |
                <a asp-action="Delete" asp-route-id="@item.GradebookNumber">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
