@model BestStudentCafedra.Models.SemesterDiscipline

@{
    ViewData["Title"] = "Удаление данных о семестровой дисциплине";
}

<h1>Удаление данных о семестровой дисциплине</h1>

<h3>Вы уверены, что хотите удалить данные об этой семестровой дисциплине?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ControlType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ControlType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discipline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discipline.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться</a>
    </form>
</div>
