@model BestStudentCafedra.Models.SemesterDiscipline

@{
    ViewData["Title"] = "Данные о семестровой дисциплине";
}

<h1>Данные о семестровой дисциплине</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ControlType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ControlType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discipline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discipline.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a href="@ViewBag.returnUrl" />Вернуться</a>
</div>

<br/>
<h4>Работы:</h4>
<p>Список учебных деятельностей на которые разделена дисциплина по образовательной программаме</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Activities.FirstOrDefault().Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activities.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activities.FirstOrDefault().MaxPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activities.FirstOrDefault().Type)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Activities)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
