@model BestStudentCafedra.Models.AcademicGroup

@{
    ViewData["Title"] = "Изменение данных о группе";
}

<h1>Изменение данных о группе</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden asp-for="Id" class="form-control" />
            <div class="form-group">
                <label asp-for="SpecialtyId" class="control-label"></label>
                <select asp-for="SpecialtyId" class="form-control" asp-items="ViewBag.SpecialtyId"></select>
                <span asp-validation-for="SpecialtyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormationYear" class="control-label"></label>
                <input asp-for="FormationYear" class="form-control" />
                <span asp-validation-for="FormationYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться в список групп</a>
</div>

</br>
<h4>Студенты:</h4>
<p>Список студентов, которые обучаются в данной группе по образовательной программаме</p>
<p>
    <a asp-controller="SemesterDisciplines" asp-action="Create" asp-route-id="@Model.Id">Добавить</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().GradebookNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Student item in Model.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GradebookNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <a asp-controller="Student" asp-action="Details" asp-route-id="@item.GradebookNumber">Подробнее</a> |
                    <a asp-controller="Student" asp-action="Edit" asp-route-id="@item.GradebookNumber">Изменить</a> |
                    <a asp-action="DeleteStudent" asp-route-id="@item.GradebookNumber">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
