@model BestStudentCafedra.Models.RatingControl

@{
    ViewData["Title"] = "Данные о промежуточном рейтинг контроде";
    var i = 0;
}

<h1>Данные о промежуточном рейтинг контроле</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompletionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompletionDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Скачать</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Group" asp-route-id="@Model.GroupId" asp-route-disciplineId="@Model.SemesterDisciplineId">Вернуться в рейтинг группы</a>
</div>
<br />

<table class="table border rounded" id="ratingTable">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.StudentRatings.FirstOrDefault().Student.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentRatings.FirstOrDefault().Points)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StudentRatings)
        {
            <tr>
                <td>@{i++;} @i</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Points)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_DataTableScriptsPartial");}
    <script>
        var table = $('#ratingTable').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.10.22/i18n/Russian.json'
            }
        });
    </script>
}
